wp-snapshots
wp-includes
wp-admin
wp-config.php
cfg.php
.*.php
wp-content/themes/theme314/node_modules
wp-content/themes/thesigner
README.old2.md
README.old.md
license.txt
readme.html
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/