wp-snapshots
wp-includes
wp-admin
wp-config.php
wp-content/themes/theme/314/node_modules
README.old2.md
README.old.md
license.txt
readme.html
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/