wp-content/themes/wp-314/node_modules
wp-content/backup-dup-pro
wp-snapshots
wp-config.php
wp-includes
wp-admin
node_modules
cfg.php
.*.php
wp-content/themes/theme314/node_modules
wp-content/themes/thesigner
README.old2.md
README.old.md
.DS_Store
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/
todos.txt